* {
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  margin: 0;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  background: #121212;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-box {
  background: #1e1e1e;
  border-radius: 30px;
  padding: 30px;
  width: 320px;
  text-align: center;
  border: 3px solid #58cc02;
}

h1 {
  color: #58cc02;
}

input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.primary {
  width: 100%;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: #58cc02;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.primary:hover {
  background: #6ee60c;
}

.link {
  margin-top: 15px;
}

.link a {
  color: #f7d046;
  text-decoration: none;
  font-weight: bold;
}

.msg {
  margin-top: 10px;
  font-size: 14px;
  color: #f7d046;
}

/* ===== APP ===== */

header {
  text-align: center;
  padding: 15px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

nav button {
  padding: 12px 18px;
  border-radius: 25px;
  border: none;
  background: #58cc02;
  color: black;
  font-weight: bold;
}

.section {
  display: none;
  padding: 20px;
}

.section.active {
  display: block;
}

.card {
  background: #1e1e1e;
  border: 3px solid #f7d046;
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  color: #f7d046;
}
